<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <title>{%block title%}AvisEnchente{%endblock%}</title>
    {%block extrahead%}
    {%endblock%}
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      </button>
      <a class="navbar-brand" href="/">Avis<strong>Enchente</strong></a>
      <ul class="nav navbar-nav">
        <li><a href="/saiba_mais">Saiba Mais</a></li>
        <li><a href="/adquirir">Adquirir</a></li>
        <li><a href="/usuario/criar">Cadastrar</a></li>
        <li><a href="/usuario/login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
{%block content%}
{%endblock%}
</body>
</html>