{%extends 'base/base.html'%}
{%block extrahead%}
  <link rel="stylesheet" type="text/css" href="/static/css/carrinho_finalizar.css">
{%endblock%}
{%block content%}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        
      </div>
      <div class="col-md-8">
        
      </div>
    </div>


    <div class="row">
    
    <h3>Selecione o meio de pagamento:</h3>
      <img src="https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif" align="left" style="margin-right:7px;"><span style="font-size:11px; font-family: Arial, Verdana;">The safer, easier way to pay.</span>
    </div>

  </div>
{%endblock%}