{%extends 'base/base.html'%}
{%block extrahead%}
<link rel="stylesheet" type="text/css" href="static/css/index.css">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
{%endblock%}
{%block content%}
<header class="jumbotron text-center">
  <p>
    Uma rede de aparelhos conectados para o bem comum: aumentar a previsão do risco de enchentes
  </p>
  <button class="btn btn-primary">Saiba mais!</button>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Regiões</h2>
      <ul class="list-unstyled">
        <li class="active">Sorocaba</li>
        <li>Piracicaba</li>
        <li>Avaré</li>
        <li>Boituva</li>
      </ul>
    </div>
    <div class="col-md-9">
      <h2>Como está %s</h2>
    </div>
  </div>
</div>

<div class="jumbotron sobre">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <i class="fa fa-suitcase fa-5x"></i><br/>
        <p><strong>Aparelho</strong></p>
        <p class="text-muted">asdhiuhsiuadshuh</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fa fa-mobile fa-5x"></i><br/>
        <p><strong>Aplicação</strong></p>
        <p class="text-muted">asdhiuhsiuadshuh</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fa fa-lightbulb-o fa-5x"></i><br/>
        <p><strong>Ideia</strong></p>
        <p class="text-muted">asdhiuhsiuadshuh</p>
      </div>
    </div>
  </div>
</div>


{%endblock%}