{%extends 'base/base.html'%}
{%block extrahead%}
<link rel="stylesheet" type="text/css" href="static/css/index.css">
{%endblock%}
{%block content%}

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      </button>
      <a class="navbar-brand" href="#">Avis<strong>Enchente</strong></a>
      <ul class="nav navbar-nav">
        <li><a href="#">Saiba Mais</a></li>
        <li><a href="#">Cadastrar</a></li>
        <li><a href="#">Ajuda</a></li>
      </ul>
    </div>
  </div>
</nav>


<header class="jumbotron text-center">
    <p>Uma rede de aparelhos conectados para o bem comum: aumentar a previsão do risco de enchentes</p>
    <button class="btn btn-primary">Saiba mais!</button>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Regiões</h2>
      <ul class="list-unstyled">
        <li class="active">Sorocaba</li>
        <li>Piracicaba</li>
        <li>Avaré</li>
        <li>Boituva</li>
      </ul>
    </div>
    <div class="col-md-9">
      <h2>Como está %s</h2>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">  
    <h2>Saiba mais</h2>
    <div class="row">
      <div class="col-md-9">

      </div>
      <div class="col-md-3">
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        

      </div>
      <div class="col-md-3">
        
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        

      </div>
      <div class="col-md-3">
        
        
      </div>
    </div>
  </div>

</div>


{%endblock%}