{%extends 'base/base.html'%}
{%block extrahead%}
<link rel="stylesheet" type="text/css" href="/static/css/saiba_mais.css">
{%endblock%}
{%block content%} 
<header class="jumbotron text-center">
  <h1>Moradores <strong>sim</strong> entendem de <strong>sua região.</strong</strong></h1>
  <h2 style="letter-spacing: 1px;">São os que melhor podem colaborar</h2>
</header>

<div class="container">
  <section class="row">
    <h3>Problema</h3>
    <hr>
    <article class="lead text-muted">
      Há a falta de incentivo por parte de governos para sanar a questão das enchentes. Cabe sempre ao indivíduo se prevenir.
    </article>
  </section>
  <section class="row text-right">
    <h3>Ideia</h3>
    <hr>
    <article class="lead text-muted">
      Inspirado em soluções de minimização de dano tomadas por prefeituras de cidades constantemente afetadas por problemas similares tal como a sirene anti-enchente, AvisEnchente pretende amplificar este sistema para as tecnologias recentes e tornar a realização do mesmo totalmente comunitária e sem intervenção do governo.
    </article>
  </section>
  <section class="row">
    <h3>Produto</h3>
    <hr>
    <article class="lead text-muted">
      <p>O produto consiste em um sistema na internet e um aparelho fisico. Seu princípio é básico: os residentes de uma região cadastram os aparelhos que então entendem o ambiente externo e permite que o sistema possa prever ocorridos.
      </p>
      <a href="/adquirir" class="btn btn-default pull-right">Faça parte disto adquirindo um!</a>
    </article>
  </section>

</div>
{%endblock%}