{%extends 'base/base.html'%}
{%block extrahead%}
<link rel="stylesheet" type="text/css" href="/static/css/saiba_mais.css">
{%endblock%}
{%block content%} 
<header class="jumbotron text-center">
  <h1>Moradores <strong>sim</strong> entendem de <strong>sua região.</strong</strong></h1>
</header>

<div class="container">
  <section class="row">
    <h3>Problema</h3>
    <hr>
    <article class="lead text-muted">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </article>
  </section>
  <section class="row text-right">
    <h3>Ideia</h3>
    <hr>
    <article class="lead text-muted">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </article>
  </section>
  <section class="row">
    <h3>Produto</h3>
    <hr>
    <article class="lead text-muted">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </article>
  </section>

</div>
{%endblock%}